@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Sarala:wght@400;700&display=swap');

/* Set custom variables here */

:root {
  --primary-color: #2e483a; /* Your custom green color */
}

.navbar {
  background-color: var(--primary-color) !important;
}

/* What our customers are saying section*/
.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-primary img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.blockquote-footer {
  color: #f6f3ed !important;
  font-size: 0.7rem;
}

/* How it works section*/
.how-it-works img {
  width: 90px;
  height: 90px;
}

body {
  font-family: "Sarala", sans-serif;
}

h1, h2, h3 {
  font-family: "Merriweather", serif;
}

/* Hero Section */

.hero-section {
  text-align: top;
}

.hero-section h1 {
  color: #000000;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: top;
}

.hero-section p {
  color: #000000;
}


#hero .d-flex {
  height: 800px;
}

#cta {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/cta-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#cta .d-flex {
  height: 400px;
}

section:not(#hero):not(#cta) {
  padding: 60px 0;
}

@media(min-width: 993px) {
  section:not(#hero):not(#cta) {
    padding: 100px 0;
  }
}

/* Custom Navbar Styles */
.navbar {
  background-color: var(--primary-color) !important;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: #F6F3ED !important;
}
